
@{
    ViewBag.Title = "Welcome - Zero Hunger";
}



<title>Welcome - Zero Hunger</title>


<body>
    <div class="container01">
        <h2>Zero Hunger</h2>
        <form method="post">
            <input name="EmailorPhn" type="text" placeholder="Email or Phone" required>
            <span class="text-danger">@Html.ValidationMessage("EmailorPhn")</span>
            <input name="pass" type="password" placeholder="Password" required>
            <span class="text-danger">@Html.ValidationMessage("pass")</span>
            <input type="submit" value="Login">
        </form>
        <b>@Html.ActionLink("Don't Have Account? Create New", "SignUp")</b>
    </div>
</body>


