
@{
    ViewBag.Title = "RestuarentDashBoard";
}

<h2>RestuarentDashBoard</h2>


    <div class="container">

        <a href="/ZeroHungerHome/RequestGeneration" class="register-button">Request Generate</a>
        <a href="@Url.Action("RequestStatus", "ZeroHungerHome")" class="register-button">Request Status</a>
        <a href="@Url.Action("LogOut", "ZeroHungerHome")" class="logout-button">Logout</a>
    </div>


