
@{
    ViewBag.Title = "StaffDashboard";
}

<h2>StaffDashboard</h2>
<br>

<a href="@Url.Action("AssignedOrderList", "ZeroHungerHome")" class="register-button">Assigned Order</a>
<a href="@Url.Action("LogOut", "ZeroHungerHome")" class="logout-button">Logout</a>
